body { overflow: hidden; }
textarea {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: -2px;
  border: 0;
  font-size: 13px;
  font-family: 'Terminal';
}

.toolbar {
  height: 24px;
  color: #fff;
  line-height: 24px;
}

select {
  float: right;
}

.input-field {
  position: absolute;
  bottom: 2px;
  height: 26px;
  width: 100%;
  background-color: #1fafb3;
  padding: 2px 0;
}

.input-field input {
  padding: 2px 5px;
  display: block;
  height: 26px;
  width: 100%;
  border: 0;
  line-height: 22px;
  font-size: 13px;
}