html, body { height: 100%; background-color: #e6e6e6; overflow: hidden; font-size: 13px; cursor: default; font-family: "Helvetica Neue"; }
input, textarea, select { -webkit-appearance: none; cursor: pointer; }
.splash-screen {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
}
.application {
  height: 100%;
}
/******************************************************************************
* Toolbar Styles
*/
.toolbar {
  padding: 5px 5px;
  padding-bottom: 2px;
  background-color: #1fafb3;
}

.toolbar select {
  display: inline-block;
  background: #1fafb3;
  height: 22px;
  padding: 0 5px;
  border-radius: 3px;
  overflow:hidden;
  border: solid 1px #fff;
  position: relative;
  z-index: 10;
  margin-right: 2px;
  text-align: left;
  color: #fff;
  font-size: 12px;
}

.icon {
  display: inline-block;
  background: #1fafb3;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  overflow:hidden;
  border: solid 1px #fff;
  position: relative;
  z-index: 10;
  margin-right: 2px;
}
.icon .text {
  padding: 4px 0;
  font-size: 13px;
  text-align:center;
  z-index: 200;
  position: relative;
  color: white;
}
.icon:hover {
  cursor: pointer;
  background: #10979d;
}

.status-bar {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  line-height: 30px;
  background-color: #1fafb3;
  padding: 0 5px;
  color: #fff;
}

.serial {
  float: right;
}


/************
* Layout Styles
*/
.layout {
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 12px;
}

.layout > div {
  float: left;
  height: 100%;
  overflow: hidden;
}
.layout-panel {
  position: relative;
  height: 100%;
  width: 20%;
}
.layout-separator {
  position: relative;
  width: 3px;
  background-color: #202020;
}
.layout-slider {
  position: absolute;
  width: 3px;
  height: 40px;
  top: 50%;
  margin-top: -25px;
  background-color: #3fb8e8;
}

.layout-slider:hover {
  background-color: #1baae3;
  cursor: pointer;
}

.layout-center {
  background-color: #272822;
  color: #fff;
}


/************************************
* Files Tree Styles
*/
.files-tree {
  padding: 5px;
  height: calc(100% - 10px);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  color: #444;
}
.files-tree .header {
  font-size: 13px;
  color: #828282;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: 5px;
}
.files-tree .node {
  text-indent: 1em;
}
.files-tree .item {
  line-height: 20px;
}
.files-tree .node > .item {
  margin-left: -21px;
}
.files-tree .node > .item i {
  margin-right: 5px;
}
.files-tree .children {
  margin-left: 1em;
}
.files-tree .selected, .files-tree .ino-file.selected {
  background-color: #9d9d9d;
  color: #fff;
}
.files-tree .tree-scroll {
  overflow: scroll;
}
.files-tree .ino-file {
  color: #1fafb3;
}

/***********************************
* Editors Styles
*/
.tabs {
  position: relative;
  height: 35px;
  overflow: hidden;
  box-shadow: 1px 0 2px rgba(100, 100, 100, 0.8);
  background-color: #171814;
}

.tabs .wrapper {
  position: absolute;
  width: 3000px;
}

.tab {
  display: inline-block;
  line-height: 31px;
  margin-top: 4px;
  padding: 0 10px;
  padding-right: 50px;
  background: #4d4d4b; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4b), color-stop(100%,#373734)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4d4d4b 0%,#373734 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #4d4d4b 0%,#373734 100%); /* W3C */
  color: #9c9c9b;
  cursor: pointer;
  box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab.active {
  background: #353530; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353530), color-stop(100%,#272822)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #353530 0%,#272822 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #353530 0%,#272822 100%); /* W3C */
  color: #fff;
}

.tab-close {
  float: right;
  margin-right: -40px;
}

.tab-close:hover {
  color: #666;
}
.editors {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}

.editor {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.editor.active {
  display: block;
}